<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.doreopartners.fieldmappingrevamp2">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.babbangona.shpincentiveapp.READ_DATABASE" />
    <uses-permission android:name="com.babbangona.shpincentiveapp.WRITE_DATABASE" />
    <uses-permission android:name="com.babbangona.accesscontrol.READ_DATABASE" />
    <uses-permission android:name="com.babbangona.accesscontrol.WRITE_DATABASE" />

    <permission
        android:name="com.example.doreopartners.fieldmappingrevamp2.READ_DATABASE"
        android:protectionLevel="normal" />
    <permission
        android:name="com.example.doreopartners.fieldmappingrevamp2.WRITE_DATABASE"
        android:protectionLevel="normal" />

    <uses-permission android:name="com.example.bg10.clearancemodule.READ_DATABASE" />
    <uses-permission android:name="com.example.bg10.clearancemodule.WRITE_DATABASE" />
    <uses-permission android:name="com.example.doreopartners.scatterplot.READ_DATABASE" />
    <uses-permission android:name="com.example.doreopartners.scatterplot.WRITE_DATABASE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name=".NotesContentProvider"
            android:authorities="com.example.doreopartners.fieldmappingrevamp2"
            android:exported="true"
            android:readPermission="com.example.doreopartners.fieldmappingrevamp2.READ_DATABASE"
            android:writePermission="com.example.doreopartners.fieldmappingrevamp2.WRITE_DATABASE" />

        <service
            android:name=".BackgroundSync"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main2Activity"
            android:exported="true" />
        <activity android:name=".MappingActivity" />
        <activity android:name=".MappingForm" />
        <activity android:name=".Welcome" />
        <activity android:name=".Main3Activity" />
        <activity android:name=".fieldselection" />
        <activity android:name=".startmapping" />
        <activity android:name=".mappedfieldik" />
        <activity android:name=".statistics" />
        <activity android:name=".membermappedfield" />
        <activity android:name=".activefield" />
        <activity android:name=".inactivefield" />
        <activity android:name=".boundaryChecks" />
        <activity android:name=".mappingGPSSetUp" />
        <activity android:name=".mappedFieldInformation" />
        <activity android:name=".deviceSetup" />
        <activity android:name=".fieldBoundaryQuestion"></activity>
    </application>

</manifest>